<section class="Home_page_menu">
  <h1 class="heading">Welcome To Todos Management App</h1>
  <div class="Home_menu">
    <p class="create" >If you are a new user create an account <%= link_to "click here", new_user_path %></p>
    <p class="signin" >Already Customer signin here <%= link_to "click here",new_sessions_path %></p>
  </div>
</section>
