<section class="Home_page_menu">
  <h1 class="heading">Welcome To Todos Management App</h1>
  <div class="Home_menu">
    <p class="create" >
      Are you a new user ? <%= link_to "click here", new_user_path,class:"links" %> to Create an account
    </p>
    <p class="signin" >
      Are an an existing user ?  <%= link_to "click here",new_sessions_path,class:"links" %> to Sign-in
    </p>
  </div>
</section>
